<div class="container my-4">
  <h3>Dashboard</h3>
  <div class="card-container grid-3">
    <div *ngFor="let card of firstContainerCards" class="card">
      <div class="card-header">{{ card.header }}</div>
      <div class="card-body">
        <p class="card-text">{{ card.value() }}</p>
      </div>
    </div>
  </div>
  <div class="card-container grid-2">
    <div *ngFor="let card of secondContainerCards" class="card">
      <div class="card-header">{{ card.header }}</div>
      <div class="card-body">
        <p class="card-text">{{ card.value() }}</p>
      </div>
    </div>
  </div>
</div>
