<div class="container-fluid my-4">
  <div class="row">
    <div class="col-7">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col-6 text-white">
              <strong>Employee Portal</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Sr No</th>
              <th>Name</th>
              <th>Contact No</th>
              <th>Email</th>
              <th>Role</th>
              <th>Gender</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
              @for (item of employeeList; track $index){
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{item.employeeName}}</td>
                  <td>{{item.contactNo}}</td>
                  <td>{{item.emailId}}</td>
                  <td>{{item.role}}</td>
                  <td>{{item.gender}}</td>
                  <td>
                    <div class="container-btn">
                      <button type="button" class="btn btn-warning m-1" (click)="onEdit(item)">Edit</button>
                      <button type="button" class="btn btn-danger m-1" (click)="onDelete1(item.employeeId)">Delete</button>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card">
        <div class="card-header bg-secondary">
          <div class="row">
            <div class="col-6 text-white">
              <strong>New Employee</strong>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form class="mb-4" #formRef="ngForm" (ngSubmit)="employeeObj.employeeId == 0 ? onSaveEmployee() : onUpdateEmployee()">
            <div class="row">
              <div class="col-md-6">
                <label for="employeeName" class="form-label">Employee Name</label>
                <input name='employeeName' type="text" [(ngModel)]="employeeObj.employeeName"
                       class="form-control" id="employeeName"
                       placeholder="Enter employee name"
                       required
                       minlength="3"
                       #nameInput="ngModel">
                <div *ngIf="nameInput.invalid && nameInput.touched">
                  <small *ngIf="nameInput.errors?.['required']">the field must be filled in</small>
                  <small *ngIf="nameInput.errors?.['minlength']">Min 3 symbols</small>
                </div>
              </div>
              <div class="col-md-6">
                <label for="contactNo" class="form-label">Contact No</label>
                <input name='contactNo' type="text" [(ngModel)]="employeeObj.contactNo"
                       class="form-control" id="contactNo"
                       placeholder="Enter contact number"
                       required
                       minlength="3"
                       #contactInput="ngModel">
                <div *ngIf="contactInput.invalid && contactInput.touched">
                  <small *ngIf="contactInput.errors?.['required']">the field must be filled in</small>
                  <small *ngIf="contactInput.errors?.['minlength']">Min 3 symbols</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="emailId" class="form-label">Email</label>
                <input name='emailId' type="email" [(ngModel)]="employeeObj.emailId"
                       class="form-control" id="emailId"
                       placeholder="Enter email"
                       required
                       email
                       #emailInput="ngModel">
                <div *ngIf="emailInput.invalid && emailInput.touched">
                  <small *ngIf="emailInput.errors?.['required']">the field must be filled in</small>
                  <small *ngIf="emailInput.errors?.['email']">Invalid email format</small>
                </div>
              </div>
              <div class="col-md-6">
                <label for="parentDeptId" class="form-label">Parent Department</label>
                <select name='parentDeptId' (change)="onDeptChange()" id="parentDeptId"
                        [(ngModel)]="parentDeptId"
                        class="form-control"
                        required
                        #parentDept="ngModel">
                  <option value="" disabled selected>Select department</option>
                  @for (item of parentDepartmentList; track $index){
                    <option [value]="item.departmentId">{{item.departmentName}}</option>
                  }
                </select>
                <div *ngIf="parentDept.invalid && parentDept.touched">
                  <small *ngIf="parentDept.errors?.['required']">Please select a parent department</small>
                </div>
              </div>
              <div class="col-md-6">
                <label for="deptId" class="form-label">Child Department</label>
                <select name="deptId" id="deptId"
                        [(ngModel)]="employeeObj.deptId"
                        class="form-control"
                        required
                        #childDept="ngModel">
                  <option value="" disabled selected>Select department</option>
                  @for (item of childDepartmentList; track $index){
                    <option [value]="item.childDeptId">{{item.departmentName}}</option>
                  }
                </select>
                <div *ngIf="childDept.invalid && childDept.touched">
                  <small *ngIf="childDept.errors?.['required']">Please select a child department</small>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input name='password' type="password" [(ngModel)]="employeeObj.password"
                       class="form-control" id="password"
                       placeholder="Enter password"
                       required
                       minlength="4"
                       #passwordInput="ngModel">
                <div *ngIf="passwordInput.invalid && passwordInput.touched">
                  <small *ngIf="passwordInput.errors?.['required']">the field must be filled in</small>
                  <small *ngIf="passwordInput.errors?.['minlength']">Min 4 characters</small>
                </div>
              </div>
              <div class="col-md-6">
                <label for="gender" class="form-label">Gender</label>
                <select id="gender" [(ngModel)]="employeeObj.gender" class="form-control"
                        name="gender" required #genderInput="ngModel">
                  <option value="" disabled selected>Select gender</option>
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                  <option value="Other">Other</option>
                </select>
                <div *ngIf="genderInput.invalid && genderInput.touched">
                  <small *ngIf="genderInput.errors?.['required']">Please select gender</small>
                </div>
              </div>
            </div>

            @if (employeeObj.employeeId == 0){
              <button type="submit" class="btn btn-warning mt-3" [disabled]="formRef.invalid">Save Employee</button>
            } @else {
              <button type="submit" class="btn btn-success mt-3" [disabled]="formRef.invalid">Update Employee</button>
            }
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

